 <footer class="footer">
    <aside class="links">
      <!-- <p>Enlaces</p> -->
      <ul class="links-list">
        <li>
          <a href="https://www.netflix.com/browse/subtitles">
            <%= __('Audio and subtitles') %></a>
        </li>

        <li>
          <a href="https://media.netflix.com/">
            <%= __('Press room') %>
          </a>
        </li>
        <li>
          <a href="https://help.netflix.com/legal/privacy">
            <%= __('Privacity') %></a>
        </li>
        <li>
          <a href="https://help.netflix.com/legal/privacy">
            &copy; <%= __('2019 by Geekflix') %></a>
        </li>

      </ul>
    </aside>
    <aside class="social">
      <ul class="social-list">
        <li><a href="#"><i class="flaticon-facebook"></i></a></li>
        <li><a href="#"><i class="flaticon-twitter"></i></a></li>
        <li><a href="#"><i class="flaticon-play"></i></a></li>
      </ul>
    </aside>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
  <script src="javascripts/select-multiple.js"></script>
</body>

</html>


